html,
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
  padding: 0;
  --main-color: black;

  color: var(--main-color);
}

.background-image::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #85c9c8, #d4fee6, #e5fdc9);
  opacity: 0.95;
}
.background-image {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -10;
  background: url(/assets/bg1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  margin: 16px 0 8px 0;
}
.main-page {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
}

.main-button:focus {
  overflow: visible;
}
.main-button:focus::after {
  opacity: 0;
  border-width: 15px;
  animation: bigRing 1s;
}
.main-button::after {
  content: '';
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #00ffcb;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-timing-function: linear;
  animation: ring 3.5s infinite;
}

@keyframes ring {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}
@keyframes bigRing {
  0% {
    width: 0px;
    height: 0px;
    opacity: 1;
  }
  100% {
    width: 600px;
    height: 600px;
    opacity: 0;
  }
}

.main-button {
  overflow: hidden;
  position: relative;
  padding: 20px 40px;
  margin-bottom: 100px;
  background: none;
  border-width: 3px;
  font-weight: bolder;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  padding: 32px;
  box-sizing: border-box;
  margin: auto;
}

input,
textarea {
  margin: 4px 0;
  font-family: Arial, Helvetica, sans-serif;
}

input:focus,
textarea:focus {
  outline: none;
}

input,
textarea {
  border: none;
  border-bottom: solid 1px var(--main-color);
  background: none;
  padding: 10px;
}

button:focus {
  outline: none;
}
button {
  user-select: none;
  padding: 8px 16px;
  margin: 4px 0;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
  border-color: var(--main-color);
  border-style: solid;
  border-width: 1px;
  background: none;
}
button.action {
  position: fixed;
  bottom: 15px;
  right: 15px;
}
button.back {
  position: fixed;
  top: 10px;
  left: 10px;
}
button.icon {
  width: 60px;
  height: 60px;
  margin: 0;
  padding: 0;
  border-radius: 100%;
  background: none;
  border-width: 1px;
}
button.icon.noborder {
  border: none;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 56px;
}
nav button {
  position: absolute;
  left: 10px;
  top: 3px;
  background: none;
  border: none;
}
nav h1 {
  margin: 0;
  flex: 1 1 auto;
  text-align: center;
}

.card {
  border-radius: 4px;
  max-width: 450px;
  width: calc(100% - 32px);
  box-sizing: border-box;
  margin: 0 auto 5vh auto;
  background: rgba(255, 255, 255, 0.705);
  padding: 32px;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.center-box {
  max-width: 100%;
  width: 360px;
  margin: auto;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 5vh 0 0 0;
}

.center-box .action button.ok {
  color: #238823;
  border-color: #238823;
  background-color: #23882310;
}
.center-box .action button.nok {
  color: #d2222d;
  border-color: #d2222d;
  background-color: #d2222e10;
}
.center-box .action button {
  padding: 0;
  border-radius: 100%;
  border-style: solid;
  border-width: 1px;
  background: none;
  width: 70px;
  height: 70px;
}
.center-box .action button:first-of-type {
  margin-right: 100px;
}
.center-box .action {
  flex: 1 1 auto;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: solid 1px lightgray;
  height: 48px;
  cursor: pointer;
}
li:last-child {
  border-bottom: none;
}

.stamp {
  transform: translate(-50%, -50%) rotate(12deg);
  position: fixed;
  top: 50%;
  left: 50%;
  color: #555;
  font-size: 3rem;
  font-weight: 700;
  border: 0.25rem solid #555;
  display: inline-block;
  padding: 0.25rem 1rem;
  text-transform: uppercase;
  border-radius: 1rem;
  font-family: 'Courier';
  -webkit-mask-image: url('/assets/noise.png');
  -webkit-mask-size: 944px 604px;
  mix-blend-mode: multiply;
  animation: stamp 0.5s forwards;
}

.is-nope {
  color: #d23;
  border: 0.5rem double #d23;
  transform: translate(-50%, -50%) rotate(3deg);
  -webkit-mask-position: 2rem 3rem;
  font-size: 2rem;
}

.is-approved {
  color: #0a9928;
  border: 0.5rem solid #0a9928;
  -webkit-mask-position: 13rem 6rem;
  transform: translate(-50%, -50%) rotate(-14deg);
  border-radius: 0;
}

.is-draft {
  color: #c4c4c4;
  border: 1rem double #c4c4c4;
  transform: rotate(-5deg);
  font-size: 6rem;
  font-family: 'Open sans', Helvetica, Arial, sans-serif;
  border-radius: 0;
  padding: 0.5rem;
}

.hidden {
  display: none;
}
.fadein.delayed {
  opacity: 0;
  animation-delay: 0.5s;
}
.fadein {
  animation: fadein 1s forwards;
}
.stamp {
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes stamp {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.5;
    transform-origin: 50% 50%;
    transform: translate(-50%, -50%) rotate(-2deg) scale(5);
    transition: all 0.3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(-15deg) scale(1);
  }
}

textarea {
  min-height: 200px;
}
