nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 56px;
}
nav button {
  position: absolute;
  left: 10px;
  top: 3px;
  background: none;
  border: none;
}
nav h1 {
  margin: 0;
  flex: 1 1 auto;
  text-align: center;
}
