nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 56px;
  position: sticky;
  top: -1px;
}
nav[stuck] {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.705);
  z-index: 100;
}
nav button {
  position: absolute;
  left: 10px;
  top: 3px;
  background: none;
  border: none;
}
nav h1 {
  margin: 0;
  flex: 1 1 auto;
  text-align: center;
}
